<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
  </appSettings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="Log4NetRollingAppender" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="EventLogAppender" />
   </root>
    <appender name="Log4NetRollingAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\PerformanceComparisons\\"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <preserveLogFileNameExtension value="true" />
      <datePattern value="yyyy-MM-dd'-standardInProcLog4Net.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %level caller:%logger message:%message threadId:[%thread] user:%username "/>
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="PerformanceComparisons.CustomAdoNetAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <commandText value="usp_Create_ErrorLog"/>
      <commandType value="StoredProcedure" />
      <parameter>
        <parameterName value="@LogDate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogMessage" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ApplicationName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="Consumer" />
        </layout>
      </parameter>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <applicationName value="Consumer" />
      <LogName value="EtwConsumerLog" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %level contents: %message"/>
      </layout>
    </appender>
  </log4net>
</configuration>