<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventProducersSection" type="Consumer.CustomConfiguration.EventProducersSection, Consumer" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <eventProducersSection>
    <eventProducers>
      <eventProducer name="ApplicationEventProducer" 
                     eventSource="Provider-Application-EventSource" applicationName="Provider" 
                     logPath="C:\logs\Provider\" logDebugTracesToDatabase="true"/>
      <!--<eventProducer name="BusEventProducer"
                     eventSource="Provider-Bus-EventSource" applicationName="Provider"
                     logPath="C:\logs\Provider1\" logDebugTracesToDatabase="false"/>-->
    </eventProducers>
  </eventProducersSection>
  <appSettings>
    <add key="ScomEventSource" value="ScomEventSource"/>
  </appSettings>
  <connectionStrings>
    <add name="TraceDatabase" connectionString="Server=.\sqlserver2014;Database=TraceDatabase;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>