<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="eventConsumersSection" type="Consumer.CustomConfiguration.EventConsumersSection, Consumer" />
</configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <eventConsumersSection>
    <eventConsumers deploymentLocation="WebServer"> 
      <eventConsumer name="ProviderApplicationEventConsumer" eventSource="Provider-Application-EventSource" applicationName="Provider" eventType="Application" rollingLogPath="c:\Logs\Provider\" />
      <eventConsumer name="ProviderBusEventConsumer" eventSource="Provider-Bus-EventSource" applicationName="Provider" eventType="Bus" rollingLogPath="c:\Logs\Provider\" />
     </eventConsumers>
     <eventConsumers deploymentLocation="InternalApplicationServer"> 
       <!-- add different event consumers app, bus or signalr that run on your internal application server-->
     </eventConsumers>
    <eventConsumers deploymentLocation="ExternalApplicationServer">
      <!-- add different event consumers app, bus or signalr that run on your internal application server-->
    </eventConsumers>
  </eventConsumersSection>
  <appSettings>
    <add key="DeploymentLocation" value="WebServer" />
    <add key="LoggingBufferSize" value="1000" />
    <add key="RunLog4NetInDebugMode" value="true" />
    <add key="BufferFlushIntervalInSeconds" value="100" />
  </appSettings>
  <connectionStrings>
    <add name="Logging" connectionString="Server=.\sqlserver2014;Database=Logging;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>