<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventConsumersSection" type="Consumer.CustomConfiguration.EventConsumersSection, Consumer" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <eventConsumersSection>
    <eventConsumer>
      <eventConsumer name="ApplicationEventConsumer" 
                     eventSource="Provider-Application-EventSource" applicationName="Provider-Application" 
                     rollingLogPath="C:\logs\Provider\" rollingLogFileName="application" logDebugTracesToDatabase="true"/>
      <eventConsumer name="BusEventConsumer"
                     eventSource="Provider-Bus-EventSource" applicationName="Provider-Bus"
                      rollingLogPath="C:\logs\Provider\" rollingLogFileName="bus" logDebugTracesToDatabase="false"/>
    </eventConsumer>
  </eventConsumersSection>
  <appSettings>
    <add key="ScomEventSource" value="ScomEventSource"/>
  </appSettings>
  <connectionStrings>
    <add name="TraceDatabase" connectionString="Server=.\sqlserver2014;Database=TraceDatabase;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>