<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <log4net debug="true">
    <root>
      <level value="ALL"/>

      <!-- 1. PFTracing root appender: this is used by the PFTracing.host to log its own debug/error statements -->
      <appender-ref ref="PFTracingAsyncBufferingForwarder"/>
    </root>
    
    <!-- 2. loggers that are specific to a client application that has sent PFTracing its errors. These are used by each producer to create client app specific loggers
    that will point at each client app folder for rolling file logging. For example c:\pfapi\2016-07-11-application-all.log  -->
    <logger name="PFTracing.Etw.Host.Producers.PfArApiApplicationEventProducer" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="PfArApiApplicationAsyncBufferingForwarder"/>
    </logger>
    <logger name="PFTracing.Etw.Host.Producers.PfArApiBusEventProducer" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="PfArApiBusAsyncBufferingForwarder"/>      
    </logger>
    
    <!-- 3. Easy.Logger high perf wrapper appenders that put all log4net logging on a dedicated background thread
    These wrappers are used to wrap the actual log4net appenders -->
    <appender name="PfArApiApplicationAsyncBufferingForwarder" type="Easy.Logger.AsyncBufferingForwardingAppender">
      <lossy value="false" />
      <bufferSize value="512" />
      <Fix value="268" />
      <appender-ref ref="PFARApiApplicationRollingFileAppender"/>
      <appender-ref ref="EventLogAppender"/>
    </appender>
    <appender name="PfArApiBusAsyncBufferingForwarder" type="Easy.Logger.AsyncBufferingForwardingAppender">
      <lossy value="false" />
      <bufferSize value="512" />
      <Fix value="268" />
      <appender-ref ref="PFARApiBusRollingFileAppender"/>
      <appender-ref ref="EventLogAppender"/>
    </appender>
    <appender name="PFTracingAsyncBufferingForwarder" type="Easy.Logger.AsyncBufferingForwardingAppender">
      <lossy value="false" />
      <bufferSize value="512" />
      <Fix value="268" />
      <appender-ref ref="PFTracingDebugErrorInfoRollingFileAppender"/>
      <appender-ref ref="PFTracingErrorAdoNetAppender"/>
      <appender-ref ref="PFTracingInfoDebugAdoNetAppender"/>
      <appender-ref ref="EventLogAppender"/>
    </appender>

    <!-- 4. Standard log4net appenders -->
    <appender name="PFARApiBusRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\PFARApi\\"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <PreserveLogFileNameExtension value="true" />
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="100MB"/>
      <datePattern value="yyyy-MM-dd'-bus-all.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %level %message "/>
      </layout>
    </appender>
    <appender name="PFARApiApplicationRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\PFARApi\\"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <PreserveLogFileNameExtension value="true" />
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="30MB"/>
      <datePattern value="yyyy-MM-dd'-application-all.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %level %message "/>
      </layout>
    </appender>
    <appender name="PFTracingDebugErrorInfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\PFTracing\\"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="INFO" />
      </filter>
      <PreserveLogFileNameExtension value="true" />
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="30MB"/>
      <datePattern value="yyyy-MM-dd'-all.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %level logger:%logger message:%message "/>
      </layout>
    </appender>
    <appender name="PFTracingErrorAdoNetAppender" type="ASI.Log4Net.v1215.CustomAdoNetAppender">
      <threshold value="ERROR" />
      <bufferSize value="3" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <commandText value="PFTracing.usp_Create_ErrorLog"/>
      <commandType value="StoredProcedure" />
      <parameter>
        <parameterName value="@LogDate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogMessage" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ApplicationName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="PFTracing.Etw.Host" />
        </layout>
      </parameter>
    </appender>
    <appender name="PFTracingInfoDebugAdoNetAppender" type="ASI.Log4Net.v1215.CustomAdoNetAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <bufferSize value="3" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <commandText value="PFTracing.usp_Create_InfoDebugLog"/>
      <commandType value="StoredProcedure" />
      <parameter>
        <parameterName value="@LogDate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogMessage" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ApplicationName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="PFTracing.Etw.Host" />
        </layout>
      </parameter>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <applicationName value="PFTracing.Etw.Host" />
      <LogName value="PremiumFinance" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %level contents: %message"/>
      </layout>
    </appender>
  </log4net>
</configuration>