<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  <log4net debug="true">
    <root>
      <level value="ALL"/>

      <!-- 1. Etw Consumer host root appender: this is used by the Consumer to log its own debug/error statements -->
      <appender-ref ref="ConsumerAsyncBufferingForwarder"/>root
    </root>
    
    <!-- 2. loggers that are specific to a client application that has sent PFTracing its errors. These are used by each producer to create client app specific loggers
    that will point at each client app folder for rolling file logging. For example c:\pfapi\2016-07-11-application-all.log  -->
    <logger name="FooApplicationEventProducer" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="FooApplicationEventProducerAsyncBufferingForwarder"/>
    </logger>
    <logger name="FooApplicationBusEventProducer" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="FooBusEventProducerAsyncBufferingForwarder"/>      
    </logger>
    
    <!-- 3. Easy.Logger high perf wrapper appenders that put all log4net logging on a dedicated background thread
    These wrappers are used to wrap the actual log4net appenders -->
    <appender name="FooApplicationEventProducerAsyncBufferingForwarder" type="Easy.Logger.AsyncBufferingForwardingAppender">
      <lossy value="false" />
      <bufferSize value="512" />
      <Fix value="268" />
      <appender-ref ref="FooApplicationRollingFileAppender"/>
      <appender-ref ref="EventLogAppender"/>
    </appender>
    <appender name="FooBusEventProducerAsyncBufferingForwarder" type="Easy.Logger.AsyncBufferingForwardingAppender">
      <lossy value="false" />
      <bufferSize value="512" />
      <Fix value="268" />
      <appender-ref ref="FooBusRollingFileAppender"/>
      <appender-ref ref="EventLogAppender"/>
    </appender>
    <appender name="ConsumerAsyncBufferingForwarder" type="Easy.Logger.AsyncBufferingForwardingAppender">
      <lossy value="false" />
      <bufferSize value="512" />
      <Fix value="268" />
      <appender-ref ref="ConsumerDebugErrorInfoRollingFileAppender"/>
    </appender>

    <!-- 4. Standard log4net appenders -->
    <appender name="FooBusRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\FooApplication\\"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <PreserveLogFileNameExtension value="true" />
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="100MB"/>
      <datePattern value="yyyy-MM-dd'-bus-all.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %level %message "/>
      </layout>
    </appender>
    <appender name="FooApplicationRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\FooApplication\\"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <PreserveLogFileNameExtension value="true" />
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="30MB"/>
      <datePattern value="yyyy-MM-dd'-application-all.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %level %message "/>
      </layout>
    </appender>
    <appender name="ConsumerDebugErrorInfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\consumer\\"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="INFO" />
      </filter>
      <PreserveLogFileNameExtension value="true" />
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="30MB"/>
      <datePattern value="yyyy-MM-dd'-all.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %level logger:%logger message:%message "/>
      </layout>
    </appender>
  </log4net>
</configuration>