<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
  </appSettings>
  <log4net>
    <appender name="RollingAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\logs\\EtwNServiceBus\\"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <acceptOnMatch value="true" />
        <levelToMatch  value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <datePattern value="yyyy-MM-dd'-performancebenchmarking.log'" />
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date %level caller:%logger message:%message threadId:[%thread] user:%username "/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="RollingAppender" />
    </root>
  </log4net>
</configuration>